.gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    gap: 20px;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    margin: 30px;
    align-items: center;
    justify-items: center;
}
.gallery img {
    border-radius: 0.25rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery .wideimageleft {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / span 2;
}
.gallery .wideimageright {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 2 / span 2;
}
.gallery .superwideimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / span 3
}
.gallery p {
    width: 100%;
    height: 100%;
    margin: auto 0;
    text-align: justify;
    hyphens: auto;
}
.gallery .spacer {
    display: none;
    grid-column: 1 / span 2;
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin: 5px 0;
}
@media only screen and (max-width: 1000px) {
    .gallery {
        grid-template-columns: repeat(2,1fr);
        margin: 20px 20px;
        gap: 10px;
    }
    .gallery .wideimageright {
        grid-column: 1 / span 2;
    }
    .gallery .text {
        grid-column: 1 / span 2;
        height: 100%
    }
    .gallery .spacer {
        display: block;
    }
}
@media only screen and (max-width: 480px) {
    .gallery {
        margin: 20px 10px;
    }
}
