.link-flash {
    position: relative;
  }
  .link-flash::before, .link-flash::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -0.1rem;
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    transition: 1.1s cubic-bezier(0.19, 1, 0.22, 1);;
  }
  .link-flash::before {
    transform: scaleX(0);
    transform-origin: left;
  }
  .link-flash::after {
    transform-origin: right;
    transition-delay: 0.25s;
  }
  .link-flash:hover::before {
    transform: scaleX(1);
    transition-delay: 0.25s;
  }
  .link-flash:hover::after {
    transform: scaleX(0);
    transition-delay: 0s;
  }
  a {
    color: white;
    text-decoration: none;
  }