@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;700&display=swap');
/* Variablen */

:root {
  --maincolor: rgb(129, 5, 26);
  --shadowaround: 0px 0px 30px 20px rgba(0,0,0,0.4), 0px 0px 0px 0px rgba(0,0,0,0);
  --shadownav: 5px 5px 5px 0px rgba(0,0,0,0.4);
} 
/* HTML HAUPTSEITE UND ALLGEMEINE DEFINITIONEN*/

body {
  margin: 0;
  font-family: 'Proza Libre', sans-serif;
  background-color: var(--maincolor);
}

p {
  font-size: 20px;
  margin: 0 30px;
}

h6 {
  font-weight: 400;
  font-size: 24px;
  margin: 0 30px;
}

h5 {
  font-weight: 700;
  font-size: 36px;
  margin: 0 30px;
}
h4 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.355);
  color: var(--maincolor);
  padding: 20px;
  border-bottom: 3px solid;
  margin: 0;
}

#navbutton {
  display: grid;
  position: absolute;
  background-color: var(--maincolor);
  left: 30px;
  top: 21px;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: center;
  padding: 10px;
  box-shadow: var(--shadownav);
  -webkit-box-shadow: var(--shadownav);
  -moz-box-shadow: var(--shadownav);
  border-radius: 5px;
  column-gap: 5px;
}
#navbutton:hover {
  background: rgb(165, 0, 27);
}
#navbutton img {
  height: 30px;
}
#navbutton p {
  margin-top: 3px;
}

#Container-Hero {
  margin: 0;
  padding: 0;
}
#Buchwerkstatt_Logo {
  position: absolute;
  left: 1em;
  top: 1em;
  display: block;
  padding: 1em 0;
  margin: 0;
  width: 30vw;
  z-index: 1;
}

#Main_Video {
  filter:sepia(20%) contrast(80%) saturate(80%);
  width: 100%;
  height: auto;
  display: block;
}
#Main_Bild {
  display: none;
}

#Kontaktfeld {
  display: block;
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  background-color: var(--maincolor);
  padding: 50px 0;
  box-shadow: var(--shadowaround);
  -webkit-box-shadow: var(--shadowaround);
  -moz-box-shadow: var(--shadowaround);
}

#Kontaktfeld-Titel {
  margin-bottom: 20px;
}

.Herobild {
  display: block;
  width: 100%;
  height: auto;
}

#Rubriken {
  display: flex;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: var(--maincolor);
  justify-content: center;
  padding: 40px 0;
  box-shadow: var(--shadowaround);
  -webkit-box-shadow: var(--shadowaround);
  -moz-box-shadow: var(--shadowaround);
}

.Rubriken-Text {
  color: white;
  padding: 0.5em 1em;
}

#Druck {
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: var(--maincolor);
  padding: 40px 0;
  box-shadow: var(--shadowaround);
  -webkit-box-shadow: var(--shadowaround);
  -moz-box-shadow: var(--shadowaround);
}

#Druck-Titel {
  color: white;
  padding-bottom: 20px;
}

#Druck-Text {
  color: white;
}

#Service {
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: var(--maincolor);
  padding: 40px 0;
  box-shadow: var(--shadowaround);
  -webkit-box-shadow: var(--shadowaround);
  -moz-box-shadow: var(--shadowaround);
}

#Service-Text {
  color: white;
}

#Footer {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  z-index: 1;
  margin: 0 auto;
  background-color: var(--maincolor);
  justify-content: space-around;
  padding: 40px 0;
  box-shadow: var(--shadowaround);
  -webkit-box-shadow: var(--shadowaround);
  -moz-box-shadow: var(--shadowaround);
}

.Footer-Text {
  color: white;
  padding: 0.5em 1em;
}
.grid-left {
  justify-self: left;
}
.grid-right {
  justify-self: right;
}
.grid-center {
  justify-self: center;
}
.nored {
  background-color: white;
}
.nored p {
  background-color: var(--maincolor);
  color: white;
  padding: 40px;
}
@media only screen and (max-width: 720px) {
}

@media only screen and (max-width: 480px) {
  #Buchwerkstatt_Logo {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    filter: brightness(0) saturate(100%)invert(100%);
  }
  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  #Main_Video {
    display: none;
  }
  #Main_Bild {
    display: block;
    width: 100%;
    height: auto;
  }
  #Rubriken,
  #Druck,
  #Service,
  #Footer {
    padding: 20px 0;
  }
  .Rubriken-Text {
    padding: 0.5em 0.35em;
  }
  #Kontaktfeld {
    padding: 30px 0;
  }
}
@media only screen and (max-width: 360px) {
  h5 {
    font-size: 22px;
    margin: 0 15px;
  }
  h6 {
    margin: 0 15px;
  }
  .Rubriken-Text {
    padding: 0.5em 0;
  }

}
